.app {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem 0;
  position: relative;
  z-index: 1;
}

.app-content {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: calc(100vh - 4rem);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
